CompetitionDataset/*
word2vec/wiki.zh.bin.vectors.npy
word2vec/wiki.zh.vec
word2vec/wiki.zh.bin
word2vec/model.bin.syn1neg.npy
word2vec/model.bin.wv.vectors.npy
*npy
*vec
CompetitionDataset/
*.pyc
*.log
